<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cq.panel.admin.server.repository.mapper.BatchTransferStatisticsMapper">

    <resultMap type="BatchTransferStatistics" id="BatchTransferStatisticsResult">
        <result property="id" column="id"/>
        <result property="taskId" column="task_id"/>
        <result property="snapshotTime" column="snapshot_time"/>
        <result property="totalSubtasks" column="total_subtasks"/>
        <result property="completedCount" column="completed_count"/>
        <result property="failedCount" column="failed_count"/>
        <result property="runningCount" column="running_count"/>
        <result property="queuedCount" column="queued_count"/>
        <result property="retryingCount" column="retrying_count"/>
        <result property="cancelledCount" column="cancelled_count"/>
        <result property="totalSizeBytes" column="total_size_bytes"/>
        <result property="transferredBytes" column="transferred_bytes"/>
        <result property="transferredFiles" column="transferred_files"/>
        <result property="failedFiles" column="failed_files"/>
        <result property="remainingBytes" column="remaining_bytes"/>
        <result property="progressPercent" column="progress_percent"/>
        <result property="avgSpeedBytesPerSec" column="avg_speed_bytes_per_sec"/>
        <result property="peakSpeedBytesPerSec" column="peak_speed_bytes_per_sec"/>
        <result property="currentSpeedBytesPerSec" column="current_speed_bytes_per_sec"/>
        <result property="startedAt" column="started_at"/>
        <result property="firstFileStartedAt" column="first_file_started_at"/>
        <result property="lastActivityAt" column="last_activity_at"/>
        <result property="totalElapsedMs" column="total_elapsed_ms"/>
        <result property="avgDurationPerFileMs" column="avg_duration_per_file_ms"/>
        <result property="postProcessCompleted" column="post_process_completed"/>
        <result property="postProcessFailed" column="post_process_failed"/>
        <result property="postProcessedAt" column="post_processed_at"/>
        <result property="totalRetryCount" column="total_retry_count"/>
        <result property="successfulRetryCount" column="successful_retry_count"/>
        <result property="maxSingleFileRetries" column="max_single_file_retries"/>
        <result property="avgRetryCount" column="avg_retry_count"/>
        <result property="targetAgentStats" column="target_agent_stats"/>
        <result property="errorTypeDistribution" column="error_type_distribution"/>
        <result property="topErrorCode" column="top_error_code"/>
        <result property="topErrorMessage" column="top_error_message"/>
        <result property="etaSeconds" column="eta_seconds"/>
        <result property="estimatedCompletionAt" column="estimated_completion_at"/>
        <result property="dataVersion" column="data_version"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectByTaskId" parameterType="Long" resultMap="BatchTransferStatisticsResult">
        select * from batch_transfer_statistics where task_id = #{taskId}
    </select>

    <select id="selectList" parameterType="BatchTransferStatistics" resultMap="BatchTransferStatisticsResult">
        select * from batch_transfer_statistics
        <where>
            <if test="taskId != null">and task_id = #{taskId}</if>
        </where>
        order by snapshot_time desc
    </select>

    <insert id="insert" parameterType="BatchTransferStatistics" useGeneratedKeys="true" keyProperty="id">
        insert into batch_transfer_statistics (task_id, snapshot_time,
            total_subtasks, completed_count, failed_count, running_count, queued_count,
            retrying_count, cancelled_count, total_size_bytes, transferred_bytes,
            transferred_files, failed_files, remaining_bytes, progress_percent,
            avg_speed_bytes_per_sec, peak_speed_bytes_per_sec, current_speed_bytes_per_sec,
            started_at, first_file_started_at, last_activity_at, total_elapsed_ms,
            avg_duration_per_file_ms, post_process_completed, post_process_failed,
            post_processed_at, total_retry_count, successful_retry_count,
            max_single_file_retries, avg_retry_count, target_agent_stats,
            error_type_distribution, top_error_code, top_error_message,
            eta_seconds, estimated_completion_at, data_version, remark)
        values (
            #{taskId}, #{snapshotTime},
            #{totalSubtasks}, #{completedCount}, #{failedCount}, #{runningCount}, #{queuedCount},
            #{retryingCount}, #{cancelledCount}, #{totalSizeBytes}, #{transferredBytes},
            #{transferredFiles}, #{failedFiles}, #{remainingBytes}, #{progressPercent},
            #{avgSpeedBytesPerSec}, #{peakSpeedBytesPerSec}, #{currentSpeedBytesPerSec},
            #{startedAt}, #{firstFileStartedAt}, #{lastActivityAt}, #{totalElapsedMs},
            #{avgDurationPerFileMs}, #{postProcessCompleted}, #{postProcessFailed},
            #{postProcessedAt}, #{totalRetryCount}, #{successfulRetryCount},
            #{maxSingleFileRetries}, #{avgRetryCount}, #{targetAgentStats},
            #{errorTypeDistribution}, #{topErrorCode}, #{topErrorMessage},
            #{etaSeconds}, #{estimatedCompletionAt}, #{dataVersion}, #{remark})
    </insert>

    <update id="update" parameterType="BatchTransferStatistics">
        update batch_transfer_statistics set
            snapshot_time = #{snapshotTime},
            total_subtasks = #{totalSubtasks},
            completed_count = #{completedCount},
            failed_count = #{failedCount},
            running_count = #{runningCount},
            queued_count = #{queuedCount},
            retrying_count = #{retryingCount},
            cancelled_count = #{cancelledCount},
            total_size_bytes = #{totalSizeBytes},
            transferred_bytes = #{transferredBytes},
            transferred_files = #{transferredFiles},
            failed_files = #{failedFiles},
            remaining_bytes = #{remainingBytes},
            progress_percent = #{progressPercent},
            avg_speed_bytes_per_sec = #{avgSpeedBytesPerSec},
            peak_speed_bytes_per_sec = #{peakSpeedBytesPerSec},
            current_speed_bytes_per_sec = #{currentSpeedBytesPerSec},
            started_at = #{startedAt},
            first_file_started_at = #{firstFileStartedAt},
            last_activity_at = #{lastActivityAt},
            total_elapsed_ms = #{totalElapsedMs},
            avg_duration_per_file_ms = #{avgDurationPerFileMs},
            post_process_completed = #{postProcessCompleted},
            post_process_failed = #{postProcessFailed},
            post_processed_at = #{postProcessedAt},
            total_retry_count = #{totalRetryCount},
            successful_retry_count = #{successfulRetryCount},
            max_single_file_retries = #{maxSingleFileRetries},
            avg_retry_count = #{avgRetryCount},
            target_agent_stats = #{targetAgentStats},
            error_type_distribution = #{errorTypeDistribution},
            top_error_code = #{topErrorCode},
            top_error_message = #{topErrorMessage},
            eta_seconds = #{etaSeconds},
            estimated_completion_at = #{estimatedCompletionAt},
            data_version = #{dataVersion},
            remark = #{remark},
            update_time = CURRENT_TIMESTAMP
        where id = #{id}
    </update>

    <update id="updateByTaskId" parameterType="BatchTransferStatistics">
        update batch_transfer_statistics set
            snapshot_time = #{snapshotTime},
            total_subtasks = #{totalSubtasks},
            completed_count = #{completedCount},
            failed_count = #{failedCount},
            running_count = #{runningCount},
            queued_count = #{queuedCount},
            retrying_count = #{retryingCount},
            cancelled_count = #{cancelledCount},
            total_size_bytes = #{totalSizeBytes},
            transferred_bytes = #{transferredBytes},
            transferred_files = #{transferredFiles},
            failed_files = #{failedFiles},
            remaining_bytes = #{remainingBytes},
            progress_percent = #{progressPercent},
            avg_speed_bytes_per_sec = #{avgSpeedBytesPerSec},
            peak_speed_bytes_per_sec = #{peakSpeedBytesPerSec},
            current_speed_bytes_per_sec = #{currentSpeedBytesPerSec},
            started_at = #{startedAt},
            first_file_started_at = #{firstFileStartedAt},
            last_activity_at = #{lastActivityAt},
            total_elapsed_ms = #{totalElapsedMs},
            avg_duration_per_file_ms = #{avgDurationPerFileMs},
            post_process_completed = #{postProcessCompleted},
            post_process_failed = #{postProcessFailed},
            post_processed_at = #{postProcessedAt},
            total_retry_count = #{totalRetryCount},
            successful_retry_count = #{successfulRetryCount},
            max_single_file_retries = #{maxSingleFileRetries},
            avg_retry_count = #{avgRetryCount},
            target_agent_stats = #{targetAgentStats},
            error_type_distribution = #{errorTypeDistribution},
            top_error_code = #{topErrorCode},
            top_error_message = #{topErrorMessage},
            eta_seconds = #{etaSeconds},
            estimated_completion_at = #{estimatedCompletionAt},
            data_version = #{dataVersion},
            remark = #{remark},
            update_time = CURRENT_TIMESTAMP
        where task_id = #{taskId}
    </update>

    <delete id="deleteByTaskId" parameterType="Long">
        delete from batch_transfer_statistics where task_id = #{taskId}
    </delete>

    <delete id="deleteByTaskIds" parameterType="Long">
        delete from batch_transfer_statistics where task_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">#{id}</foreach>
    </delete>

</mapper>
