<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cq.panel.admin.server.repository.mapper.ArchNodeGroupMapper">
    
    <resultMap type="ArchNodeGroup" id="ArchNodeGroupResult">
        <result property="id"    column="id"    />
        <result property="diagramId"    column="diagram_id"    />
        <result property="groupName"    column="group_name"    />
        <result property="groupCode"    column="group_code"    />
        <result property="groupType"    column="group_type"    />
        <result property="groupStyle"    column="group_style"    />
        <result property="groupProperties"    column="group_properties"    />
        <result property="parentGroupId"    column="parent_group_id"    />
        <result property="description"    column="description"    />
        <result property="visible"    column="visible"    />
        <result property="locked"    column="locked"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectArchNodeGroupVo">
        select id, diagram_id, group_name, group_code, group_type, group_style, group_properties, parent_group_id, description, visible, locked, create_by, create_time, update_by, update_time, del_flag, remark from arch_node_group
    </sql>

    <select id="selectArchNodeGroupList" parameterType="ArchNodeGroup" resultMap="ArchNodeGroupResult">
        <include refid="selectArchNodeGroupVo"/>
        <where>  
            del_flag = '0'
            <if test="diagramId != null">diagram_id = #{diagramId}</if>
            <if test="groupName != null and groupName != ''"> and group_name like concat('%', #{groupName}, '%')</if>
            <if test="groupType != null and groupType != ''"> and group_type = #{groupType}</if>
            <if test="parentGroupId != null"> and parent_group_id = #{parentGroupId}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectGroupsByDiagramId" parameterType="Long" resultMap="ArchNodeGroupResult">
        <include refid="selectArchNodeGroupVo"/>
        where diagram_id = #{diagramId} and del_flag = '0'
        order by create_time desc
    </select>

    <select id="selectArchNodeGroupById" parameterType="Long" resultMap="ArchNodeGroupResult">
        <include refid="selectArchNodeGroupVo"/>
        where id = #{id} and del_flag = '0'
    </select>
        
    <insert id="insertArchNodeGroup" parameterType="ArchNodeGroup" useGeneratedKeys="true" keyProperty="id">
        insert into arch_node_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="diagramId != null">diagram_id,</if>
            <if test="groupName != null and groupName != ''">group_name,</if>
            <if test="groupCode != null">group_code,</if>
            <if test="groupType != null">group_type,</if>
            <if test="groupStyle != null">group_style,</if>
            <if test="groupProperties != null">group_properties,</if>
            <if test="parentGroupId != null">parent_group_id,</if>
            <if test="description != null">description,</if>
            <if test="visible != null">visible,</if>
            <if test="locked != null">locked,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="diagramId != null">#{diagramId},</if>
            <if test="groupName != null and groupName != ''">#{groupName},</if>
            <if test="groupCode != null">#{groupCode},</if>
            <if test="groupType != null">#{groupType},</if>
            <if test="groupStyle != null">#{groupStyle},</if>
            <if test="groupProperties != null">#{groupProperties},</if>
            <if test="parentGroupId != null">#{parentGroupId},</if>
            <if test="description != null">#{description},</if>
            <if test="visible != null">#{visible},</if>
            <if test="locked != null">#{locked},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateArchNodeGroup" parameterType="ArchNodeGroup">
        update arch_node_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupName != null and groupName != ''">group_name = #{groupName},</if>
            <if test="groupCode != null">group_code = #{groupCode},</if>
            <if test="groupType != null">group_type = #{groupType},</if>
            <if test="groupStyle != null">group_style = #{groupStyle},</if>
            <if test="groupProperties != null">group_properties = #{groupProperties},</if>
            <if test="parentGroupId != null">parent_group_id = #{parentGroupId},</if>
            <if test="description != null">description = #{description},</if>
            <if test="visible != null">visible = #{visible},</if>
            <if test="locked != null">locked = #{locked},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteArchNodeGroupById" parameterType="Long">
        update arch_node_group set del_flag = '1' where id = #{id}
    </delete>

    <delete id="deleteArchNodeGroupByIds" parameterType="String">
        update arch_node_group set del_flag = '1' where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>