<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cq.panel.admin.server.repository.mapper.ArchDiagramMapper">
    
    <resultMap type="ArchDiagram" id="ArchDiagramResult">
        <result property="id"    column="id"    />
        <result property="diagramName"    column="diagram_name"    />
        <result property="diagramDescription"    column="diagram_description"    />
        <result property="diagramVersion"    column="diagram_version"    />
        <result property="thumbnail"    column="thumbnail"    />
        <result property="canvasConfig"    column="canvas_config"    />
        <result property="status"    column="status"    />
        <result property="isPublished"    column="is_published"    />
        <result property="publishedAt"    column="published_at"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectArchDiagramVo">
        select id, diagram_name, diagram_description, diagram_version, thumbnail, canvas_config, status, is_published, published_at, create_by, create_time, update_by, update_time, del_flag, remark from arch_diagram
    </sql>

    <select id="selectArchDiagramList" parameterType="ArchDiagram" resultMap="ArchDiagramResult">
        <include refid="selectArchDiagramVo"/>
        <where>  
            del_flag = '0'
            <if test="diagramName != null  and diagramName != ''"> and diagram_name like concat('%', #{diagramName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="isPublished != null  and isPublished != ''"> and is_published = #{isPublished}</if>
            <if test="params.beginTime != null and params.beginTime != ''"> and create_time &gt;= #{params.beginTime}</if>
            <if test="params.endTime != null and params.endTime != ''"> and create_time &lt;= #{params.endTime}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectArchDiagramAll" resultMap="ArchDiagramResult">
        <include refid="selectArchDiagramVo"/>
        where del_flag = '0'
    </select>

    <select id="selectArchDiagramById" parameterType="Long" resultMap="ArchDiagramResult">
        <include refid="selectArchDiagramVo"/>
        where id = #{id} and del_flag = '0'
    </select>
        
    <insert id="insertArchDiagram" parameterType="ArchDiagram" useGeneratedKeys="true" keyProperty="id">
        insert into arch_diagram
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="diagramName != null and diagramName != ''">diagram_name,</if>
            <if test="diagramDescription != null">diagram_description,</if>
            <if test="diagramVersion != null">diagram_version,</if>
            <if test="thumbnail != null">thumbnail,</if>
            <if test="canvasConfig != null">canvas_config,</if>
            <if test="status != null">status,</if>
            <if test="isPublished != null">is_published,</if>
            <if test="publishedAt != null">published_at,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="diagramName != null and diagramName != ''">#{diagramName},</if>
            <if test="diagramDescription != null">#{diagramDescription},</if>
            <if test="diagramVersion != null">#{diagramVersion},</if>
            <if test="thumbnail != null">#{thumbnail},</if>
            <if test="canvasConfig != null">#{canvasConfig},</if>
            <if test="status != null">#{status},</if>
            <if test="isPublished != null">#{isPublished},</if>
            <if test="publishedAt != null">#{publishedAt},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateArchDiagram" parameterType="ArchDiagram">
        update arch_diagram
        <trim prefix="SET" suffixOverrides=",">
            <if test="diagramName != null and diagramName != ''">diagram_name = #{diagramName},</if>
            <if test="diagramDescription != null">diagram_description = #{diagramDescription},</if>
            <if test="diagramVersion != null">diagram_version = #{diagramVersion},</if>
            <if test="thumbnail != null">thumbnail = #{thumbnail},</if>
            <if test="canvasConfig != null">canvas_config = #{canvasConfig},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isPublished != null">is_published = #{isPublished},</if>
            <if test="publishedAt != null">published_at = #{publishedAt},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="publishArchDiagram" parameterType="ArchDiagram">
        update arch_diagram
        set is_published = '1',
            status = '1',
            published_at = #{publishedAt},
            update_by = #{updateBy},
            update_time = #{updateTime}
        where id = #{id}
    </update>

    <delete id="deleteArchDiagramById" parameterType="Long">
        update arch_diagram set del_flag = '1' where id = #{id}
    </delete>

    <delete id="deleteArchDiagramByIds" parameterType="String">
        update arch_diagram set del_flag = '1' where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>